[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
